<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.menu">
	<select id="getMenuList" resultType="com.latte.dto.MenuDto">
		select
		mid, product, price,
		description, cafe_id
		from menu
	</select>
	
	<select id="getMenuListById" parameterType="java.lang.Integer" resultType="com.latte.dto.MenuDto">
		<!-- select menu.mid, menu.cafe_id, menu.product, menu.price, menu.description,
			menu.tag, sum(userslikemenu.like_count) as like_count from menu left outer
			join userslikemenu on menu.mid = userslikemenu.menu_id where menu.cafe_id
			=#{cafe_id} group by menu.product -->
		select menu.mid, menu.cafe_id, menu.product, menu.price, menu.description,
			menu.tag, menu.mid like_count from menu where cafe_id = #{cafe_id}
	</select>
	
	<select id="getMenuById" parameterType="java.lang.Integer" resultType="com.latte.dto.MenuDto">
		select
		cafe_id, product, price, description
		from menu
		where
		mid = #{mid}
	</select>
	
	<select id="getMenuByName" parameterType="java.lang.String" resultType="com.latte.dto.MenuDto">
		select
		mid, price, description, cafe_id
		from menu
		where
		product like
		'%'+#{product}+'%'
	</select>
	
	<insert id="addMenu" parameterType="com.latte.dto.MenuDto">
		insert into
		(
		product, price,
		description, cafe_id
		) values (
		#{product},
		#{price},
		#{cafe_id},
		#{tag})
	</insert>
	
	<update id="updateMenu" parameterType="com.latte.dto.MenuDto">
		update menu set
		product =
		#{product},
		price = #{price},
		description =#{description},
		cafe_id =
		#{cafe_id},
		like_count =#{like_count},
		tag =#{tag},
		where
		mid=#{mid}
	</update>
	
	<delete id="deleteMenuById" parameterType="java.lang.Integer">
		delete from menu where
		mid=#{mid}
	</delete>
</mapper>