<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.latte.model.post.Post" alias="post" />
		<typeAlias type="com.latte.payload.PostRequest"
			alias="postRequest" />
		<typeAlias type="com.latte.model.post.PostComments"
			alias="postComments" />
		<typeAlias type="com.latte.model.post.PostHashtag"
			alias="posthashtag" />
		<typeAlias type="com.latte.model.post.PostHashtagName"
			alias="posthashtagname" />
		<typeAlias type="com.latte.model.post.PostPhotos"
			alias="postPhotos" />
		<typeAlias type="com.latte.dto.CafeDto" alias="cafe" />
		<typeAlias type="com.latte.dto.UsersLikeMenu"
			alias="userslikemenu" />
		<typeAlias type="com.latte.dto.UsersLikeCafeDto"
			alias="userslikecafe" />
		<typeAlias type="com.latte.dto.UsersLikePost"
			alias="userslikepost" />
		<typeAlias type="com.latte.dto.Coupon" alias="coupon" />
		<typeAlias type="com.latte.dto.QRCode" alias="qrcode" />
	</typeAliases>

</configuration>
